.App {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.thumb {
  border-radius: 50%;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
h6 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}


 .bt {
  display: flex;
  justify-content: left;

   margin: 5px;
}


 .commentz {
  margin: 10px; 
  line-height: 25px;
}

 .search {
  display: flex;
 justify-content: space-evenly;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 7px;
}

 .yup {
  margin: 5px;
}

 .likes {
  margin: 5px;
}

 .mmm {
  display: flex;
  font-size: 50px
} 
.top-post {
  display: flex;
  align-items: center;
  background: rgb(247, 244, 244);
  border: 1px solid lightgray;
  border-radius: 2px;
}